@using CloudNimble.BlazorEssentials.TestApp.ViewModels;
@using CloudNimble.BlazorEssentials.Controls;
@using System.ComponentModel;

@page "/"

@inject ConfigurationBase config
@inject AppState appState
@inject IndexViewModel viewModel
@inject IJSRuntime jsRuntime

<h1>Hello, world!</h1>
<p>Welcome to your new app. </p>

<SurveyPrompt Title="How is Blazor working for you?" />

<h3>Injected Configuration:</h3>
<p>ApiRoot: "@config.ApiRoot"</p>

<hr />

@Html.Raw(htmlContent)

<hr />
History Length: @navHistoryCount<br />
@* History ScrollRestoration: @navHistory.ScrollRestoration*@

<HxButton Color="ThemeColor.Primary" OnClick="NavigateToMerlin"><i class="fad fa-pen-to-square pe-2" />Go To Merlin</HxButton>

<HxButton Color="ThemeColor.Primary" OnClick="NavigateToBurnRate"><i class="fad fa-pen-to-square pe-2" />Go To BurnRate</HxButton>

@code
{

    private string htmlContent = "<h5>This is HTML content rendered using the <strong>@Html.Raw Blazor helper</strong>.</h5>";
    private int navHistoryCount;

    protected override async Task OnInitializedAsync()
    {
        viewModel.StateHasChanged.Action = StateHasChanged;
        viewModel.PropertyChanged += (sender, e) =>
        {
            this.StateHasChanged();
        };

        await viewModel.Load();
    }

    protected override async Task OnParametersSetAsync()
    {
        navHistoryCount = await appState.NavigationHistory.Count();
    }

    protected void NavigateToMerlin()
    {
        appState.Navigate("/Merlin");
    }

    protected async Task NavigateToBurnRate()
    {
        await appState.OpenInNewTab("https://burnrate.io");
    }


}